* {
    margin: 0 auto;
    padding: 0 px;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}
a {
    color: #085394;
}
.nav-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}
.nav-bar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #CCC;
    font-size: 3.2rem;
}
.search {
    flex: 1;
    font-size: 1.2rem;
    padding: 5px 10px;
    width: 400px;
}
.nav-bar button {
    flex: 1;
    font-size: 1.2rem;
    padding: 5px 15px;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    background-color: #2b78e4;
    color: #fff
}
.box-1 button, .box-2 button, .box-3 button {
    /*margin-top: 10px;*/
    background-color: orange;
    color: black;
    border: 4px solid black;
    border-width: 2px;
    padding: 5px 15px;
    box-shadow: black 2px 2px;
    font-weight: bold;
}
.box-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    align-content: center;
    margin-top: 110px;
    margin-left: -950px;
    border: 2px solid black;
    margin-right: 10px;
    padding: 20px;
    height: 175px;
}
.box-2 {
    flex: 2;
    border: 2px solid black;
    margin-top: 310px;
    margin-left: -420px;
    padding: 10px;
}
.box-3 {
flex: 3;
border: 2px solid black;
height: 100px;
padding: 20px;
margin-top: 110px;
margin-left: 500px;
margin-right: 50px;
}
/*.text {
    display: flex;
    float: right;
}*/